// Variables
@import 'variables.scss';

// Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// VanillaTilt
@import 'vanilla-tilt';

// Tailwind  Utilities
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: $fg;
  background-color: $bg;
  font-family: $font-geist-sans, Arial, Helvetica, sans-serif;
}
